<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLogLayoutRendererExtension"/>
  </extensions>

  <!-- define various log targets -->
  <!--定义日志文件目录-->
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <variable name="nodeName" value="node1"/>

  <targets async="true">
    <!-- 全部日志target -->
    <target xsi:type="File"
            name="allfile"
            fileName="${logDirectory}/${logger}/nlog-all/${shortdate}.log"
            layout="#node1#${longdate}#${logger}#${uppercase:${level}}#${callsite}#${callsite-linenumber}#${aspnet-request-url}#${aspnet-request-method}#${aspnet-mvc-controller}#${aspnet-mvc-action}#${message}#${exception:format=ToString}#"
            keepFileOpen="false"
            />

    <!-- 本地文件日志target -->
    <target xsi:type="File"
            name="ownLog-file"
            fileName="${logDirectory}/${logger}/nlog-${level}/${shortdate}.log"
            layout="${callstarttime}#${callendtime}#${elapsedtime}#${uniqueid}#${nodeName}#${logger}#${uppercase:${level}}#${requestmethod}#${callparameters}#${callreuslt}#${message}#${exception_msg}#${exception_stacktrace}#"
            keepFileOpen="false"
            />

    <!-- Tcp日志target -->
    <target xsi:type="Network"
            name="ownLog-tcp"
            keepConnection="false"
            address ="tcp://192.168.8.136:8001"
            layout="${callstarttime}#${callendtime}#${elapsedtime}#${uniqueid}#${nodeName}#${logger}#${uppercase:${level}}#${requestmethod}#${callparameters}#${callreuslt}#${message}#${exception_msg}#${exception_stacktrace}#"
            />
    <!--grok 规则-->
    <!--%{DATA:request_time}#%{DATA:uniqueid}#%{DATA:node_name}#%{DATA:log_site}#%{DATA:log_level}#%{DATA:requestmethodtype}#%{DATA:callparameters}#%{DATA:callreuslt}#%{DATA:log_info}#%{DATA:call_site}#%{DATA:exception_msg}#%{DATA:exception_stacktrace}#-->
    <!--空白-->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!--日志级别 Trace -》Debug-》 Info -》Warn-》 Error-》 Fatal-->
  <!--日志规则-->
  <rules>
    <!--全部日志, 包括Microsoft日志-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--自定义日志，排除Microsoft日志-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="ownLog-file" />
    <logger name="*" minlevel="Info" writeTo="ownLog-tcp" />
    <!--<logger name="*" minlevel="Error" writeTo="ownLog-tcp"/>-->
  </rules>
</nlog>
